/*.face-thumb {
  width: 200px;
  height: 200px;
}
#pic-box{
  margin-left:1%;
}

@media only screen and (max-width : 375px) {
  #pic-box{
    margin-left: 10%;
  }
  .face-thumb{
    width: 150px;
    height: 150px;
  }
}*/

/* phone */
#pic-box{
  margin-left: 2%;
}
.face-thumb{
  width: 179px;
  height: 179px;
}

/* desktop */
@media only screen and (min-width : 1224px) {
  #pic-box{
    margin-left: 2%;
  }
  .face-thumb{
    width: 200px;
    height: 200px;
  }
}
